.App-footer div {
    padding: 20px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  

    .App-footer a:hover{
      text-decoration: none;
  }
    .App-footer {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      
      left: 50%;
      transform: translateX(-50%); 
      
      top: 718px;
      font-family: 'SFProDisplay-Light';
      text-transform: uppercase;
      font-size: calc(10px + (13 - 10) * ((100vw - 768px) / (1600 - 768)));
      background-color:#001d45;
      border-radius: 18px;
   
    }
      .App-footer div:last-of-type a {
        border-right: unset; }
      .App-footer div {
        padding: 10px 0px; 
        
        
        }
      .App-footer a {
        color: #a1a1a1;
        border-right: 1px solid #9c9c9c;
        padding: 0px 10px;
        cursor: pointer; 
        text-decoration: none;
       
      }

@media screen and (max-width: 768px) { .App-footer div { font-size: 10px; } }
@media screen and (min-width: 1600px) { .App-footer div { font-size: 13px; } }